@model IEnumerable<ShinsyuKensaku.Models.Books>

@{
    ViewBag.Title = "Index";
}

@using Microsoft.AspNet.Identity

@*ログイン済みの時は、検索機能を表示する*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Index","BookSearch",FormMethod.Get,new { @class="form-inline"}))
    {
        @Html.AntiForgeryToken()
        <div><br />
            @if (ViewBag.keyword == "")
            {
                @Html.Label("keyword", "検索語句：", new { @class = "control-label" }) @Html.TextBox("keyword", null, new { @class = "form-control" }) <input type="submit" value="検索" 　class="btn btn-info" />
                <div style="height:300px"></div>
            }
            else
            {
                @Html.Label("keyword", "検索語句：", new { @class = "control-label" }) @Html.TextBox("keyword", new { ViewBag.Keyword }, new { @class = "form-control" }) <input type="submit" value="検索" 　class="btn btn-info" />
                <br /><br /><p>合致件数：@ViewBag.Count</p>
            }
         </div> 
     }

        <table class="table">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <table>
                            <tr><td><h4>【@Html.DisplayFor(modelItem => item.title)】 @Html.DisplayFor(modelItem => item.heading)</h4></td></tr>
                            <tr><td>@Html.DisplayFor(modelItem => item.digest)... @Html.ActionLink("全文を読む", "Details", new { id = item.id,keyword = ViewBag.Keyword })  </td></tr>
                        </table>
                    </td>
                </tr>
            }

        </table>

    @*@Html.Partial("_SearchPartial",Model)*@
}
else
{

    <div class="jumbotron">
        <h1>検索の使用にはログインが必要です。</h1>
        <p class="lead">「浄土真宗のお言葉検索」の使用にはログインが必要です。</p>
        <p>右上から、ログインして使用してください。</p>
        <p>登録がまだの場合は登録してください。</p>
   </div>
}
